.arriba {
  background-color: green;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.lateral {
  background-color: blue;
  width: 500px;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
}
